{% extends “admin/change_list.html” %}
{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}
{% block result_list %}
<div class=”results”>
    <table>
        
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Category</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total Sales</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class=”{% cycle ‘row1’ ‘row2’ %}”>
        <td> {{ row.sale__category__name }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.total_sales | default:0 | intcomma }}$ </td>
        <td>
          <strong>
          {{ row.total_sales | 
              default:0 | 
              percentof:summary_total.total_sales }} 
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>
    Our content goes here…
{% endblock %}
{% block pagination %}{% endblock %}