{% extends "admin/change_list.html" %}
{% load staticfiles %}

{% block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: relative;
}
.triangle {
  font-size: 50%;
  position: absolute;
  right: 5px;
  top: -2px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 5px;
  color: #fff;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</head>
<body>
<div class="navbar">
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Select Graph</button>
<span class='triangle'>&#9660;</span>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a id="student1" href="#about">No of student vs major</a>
        <a id="student2" href="#about">Person of color vs Non-Person of color</a>
        <a id="student3" href="#about">No of student vs role</a>
        <a id="student4" href="#about">Percentage of year graduation vs number of student</a>
        <a id="student5" href="#about">Graduation vs non Graduation</a>
      </div>
</div>
</div> 
    <div class="row">
        <div class="col-sm-4">
            <canvas id="forecast" style="width: 150px !important;"></canvas>
        </div>
    </div>
<button id="0" type="button" >Pie Chart</button>
<button id="1" type="button" >Bar Chart</button>

{{block.super}} 
</body>


</html>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script >
            var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
    function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}
function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
{% regroup cl.queryset|dictsort:"school" by school as schools_list %}
  var chart_labels = [{% for school in schools_list %}'{{ school.grouper }}',{% endfor %}]
  var temp_dataset = [{% for school in schools_list %}'{{ school.list|length }}',{% endfor %}];
  var ctx = document.getElementById("forecast").getContext('2d');
 var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
  var config = {
                type: 'doughnut',
                data: {
                    labels: chart_labels,
                    datasets: [{
                        data: temp_dataset,
                        backgroundColor: [{% for school in schools_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            };
  ctx.moveTo(60,40);
var forecast_chart = new Chart(ctx, config);

$("#0").click(function() {
    var config_data=forecast_chart.config
    forecast_chart.destroy();
    config_data.type='doughnut'
    config_data.options=options
    forecast_chart=new Chart(ctx,config_data);
});
$("#1").click(function() {
	var opt = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  };
	var config_data=forecast_chart.config
	forecast_chart.destroy();
	config_data.type='bar'
	config_data.options=opt
	forecast_chart=new Chart(ctx,config_data)
	console.log(config_data.data.datasets.data)
});
$("#student1").click(function() {
	{% regroup cl.queryset|dictsort:"major" by major as majors_list %}
	  var chart_labels = [{% for major in majors_list %}'{{ major.grouper }}',{% endfor %}];
  		var temp_dataset = [{% for major in majors_list %}'{{ major.list|length }}',{% endfor %}];
    var data = forecast_chart.config.data;
    data.datasets[0].data = temp_dataset;
    data.labels = chart_labels;
    data.datasets[0].backgroundColor= [{% for major in majors_list %}randomColorGenerator(),{% endfor %}]
    forecast_chart.update();
    document.getElementById("myDropdown").classList.toggle("show");
});
$("#student2").click(function() {
	{% regroup cl.queryset|dictsort:"firstgen" by firstgen as firstgens_list %}
	var chart_labels = [{% for firstgen in firstgens_list %}'{{ firstgen.grouper }}',{% endfor %}];
  	var temp_dataset = [{% for firstgen in firstgens_list %}'{{ firstgen.list|length }}',{% endfor %}];
    console.log(temp_dataset)
    var data = forecast_chart.config.data;
    data.datasets[0].data = temp_dataset;
    data.labels = chart_labels;
    data.datasets[0].backgroundColor= [{% for firstgen in firstgens_list %}randomColorGenerator(),{% endfor %}]
    forecast_chart.update();
    document.getElementById("myDropdown").classList.toggle("show");
});

$("#student3").click(function() {
    {% regroup cl.queryset|dictsort:"info" by info as infos_list %}
    var chart_labels = [{% for info in infos_list %}'{{ info.grouper }}',{% endfor %}];
    var temp_dataset = [{% for info in infos_list %}'{{ info.list|length }}',{% endfor %}];
    var data = forecast_chart.config.data;
    data.datasets[0].data = temp_dataset;
    data.labels = chart_labels;
    data.datasets[0].backgroundColor= [{% for info in infos_list %}randomColorGenerator(),{% endfor %}]
    forecast_chart.update();
    document.getElementById("myDropdown").classList.toggle("show");
});

$("#student4").click(function() {
    {% regroup cl.queryset|dictsort:"year" by year as years_list %}
    var chart_labels = [{% for year in years_list %}'{{ year.grouper }}',{% endfor %}];
    var temp_dataset = [{% for year in years_list %}'{{ year.list|length }}',{% endfor %}];
    var data = forecast_chart.config.data;
    data.datasets[0].data = temp_dataset;
    data.labels = chart_labels;
    data.datasets[0].backgroundColor= [{% for year in years_list %}randomColorGenerator(),{% endfor %}]
    forecast_chart.update();
    document.getElementById("myDropdown").classList.toggle("show");
});
$("#student5").click(function() {
    {% regroup cl.queryset|dictsort:"grad_status" by grad_status as grad_statuss_list %}
    var chart_labels = [{% for grad_status in grad_statuss_list %}'{{ grad_status.grouper }}',{% endfor %}];
    var temp_dataset = [{% for grad_status in grad_statuss_list %}'{{ grad_status.list|length }}',{% endfor %}];
    chart_labels[0] = "Not-Graduated"
    chart_labels[1] = "Graduated"
    var data = forecast_chart.config.data;
    data.datasets[0].data = temp_dataset;
    data.labels = chart_labels;
    data.datasets[0].backgroundColor= [{% for year in years_list %}randomColorGenerator(),{% endfor %}]
    forecast_chart.update();
    document.getElementById("myDropdown").classList.toggle("show");
});
</script>
{% endblock %}
