{% extends "generic.html" %}

{% block title %}
  <title>Bridges</title>
{% endblock %}
{% load admin_urls %}


{% block content %}

<div class="container">
  <div class="text-center">
    <div class="row">
      <form class="form-signin" action="" method="">

        <table>
          <tr>
            <td><h1 class="h3 mb-3 font-weight-normal">Bridges</h1></td>
          </tr>
          <tr>
            <td><a class="btn btn-lg btn-success" href="{% url 'login'%}?next={{reque}" role="button">Start</a></td>
          </tr>
          <tr>
            <td><p class="mt-5 mb-3 text-muted">Administration portal <a href="{% url '/admin/login/?next=/admin/' %">here</a>.</p></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock %}
