{% extends "generic.html" %}

{% block title %}
  <title>Start</title>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="row justify-content-md-center">
          <h1 class="h3 mb-3 font-weight-normal">Get Started</h1>
      </div>
      <div class="row justify-content-md-center">
        <div class="alert alert-warning" role="alert">Click below to create an account and give us your info!</div>
        <a class="btn btn-lg btn-success" href="{% url 'signup'%}?next={{reque}" role="button">Sing up</a>
      </div>
    </div>
    <div class="col-md-4">
      <h1 class="h3 mb-3 font-weight-normal">Or sign in here</h1>
      <a class="btn btn-lg btn-success" href="{% url 'login'%}?next={{reque}" role="button">Log in</a>
      <p class="mt-5 mb-3 text-muted"></p>
    </div>
  </div>
</div>
{% endblock %}
